.olx-social-media{
    width: 335px;
    padding: 10px;
    background-color: #ededed;
    border-radius: 6px;
    margin-top: 15px;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.uol-social-media{
    display: flex;
    width: 180px;
    justify-content: space-between;
    list-style: none;
    align-content: center;
    margin: 0;
    padding: 0;
}