.add-container{
    border: 1px solid #ededed;
    padding: 15px;
}
.divider{
    border-top: 1px solid #e8e8e8;
    margin-top: 25px;
    margin-bottom: 25px;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}